body { 
    font-family: Arial, sans-serif; 
    display: flex; 
    justify-content: center; 
    padding: 50px; 
}
.calculator { 
    border: 4px solid #a8038a; 
    padding: 20px; 
    border-radius: 10px; 
    width: 300px; 
}
  .display { 
    width: 100%; 
    height: 50px; 
    text-align: right; 
    font-size: 24px; 
    margin-bottom: 10px; 
    padding: 5px; 
    border: 1px solid #ae1892; 
    border-radius: 5px; 
}
